# Buildozer
.buildozer/
bin/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
buildozer_venv/
buildozer_py310/
buildozer_env_310/

# Virtual environments
*.egg-info/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
log.txt
log.zip

# Docker
Dockerfile
